<app-menuad></app-menuad>
<div class="container">
    <h1 class="text-center">ENCARGOS</h1><hr><br>
    <table class="table text-center">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">USUARIO</th>
            <th scope="col">PROOVEDOR</th>
            <th scope="col">TOTAL</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let en of posts">
            <th scope="row">{{en.id_encargo}}</th>
            <td>{{en.usuario}}</td>
            <td>{{en.proveedor}}</td>
            <td>{{en.total}}</td>
            <td>
              <a class="btn btn-primary" aria-disabled="true">Aceptar</a>
              <a class="btn btn-danger">Borrar</a>
            </td>
          </tr>
        </tbody>
      </table>
</div><br><br><br><br><br><br><br><br>
<app-footer></app-footer>