div.cuad{
    width: 500px;height: 250px;background-color: rgba(0, 255, 255, 0.7);margin-top: 100px;border-radius: 15px;
}
body.ret{
    background: url(../../../assets/img/istockphoto-915630090-640x640.jpg) no-repeat;background-size: cover;
}