<app-menuad></app-menuad>
<div class="container">
    <h1 class="text-center">ALTA PROVEEDOR</h1>
    <hr>
    <form action="" class="text-primary">
        <label class="control-label" for="name">Nombre Completo:</label>
        <input type="text" name="name" placeholder="Nombre" class="form-control" required>
        <label class="control-label" for="mail">Correo:</label>
        <input type="email" name="mail" placeholder="Correo" class="form-control" required>
        <label class="control-label" for="pass">Contraseña:</label>
        <input type="password" name="pass" class="form-control" required placeholder="Contraseña">
        <label class='control-labe'>Rol:</label>
        <select name='role' class='form-select'>
            <option value=" Admin ">Admin</option>
        </select>
        <br>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div><br><br>
<app-footer></app-footer>