<app-menuad></app-menuad>
<div class="container">
    <h1 class="text-center">USUARIOS</h1><hr>
    <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">EMAIL</th>
            <th scope="col">ROL</th>
            <th scope="col">ESTADO</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usu of posts">
            <th scope="row">{{usu.id}}</th>
            <td>{{usu.username}}</td>
            <td>{{usu.email}}</td>
            <td>{{usu.tipo_usuario}}</td>
            <td>{{usu.estado}}</td>
            <td>
              <a class="btn btn-primary" aria-disabled="true">Editar</a>
              <a class="btn btn-danger">Borrar</a>
            </td>
          </tr>
        </tbody>
      </table>
</div><br><br><br><br><br><br><br><br><br>
<app-footer></app-footer>