<app-menuad></app-menuad>
<div class="container">
    <h1 class="text-center">PROVEEDORES</h1><hr>
    <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">EMPRESA</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">CORREO</th>
            <th scope="col">TELEFONO</th>
            <th scope="col">DIRECCION</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Adidas</td>
            <td>Juan</td>
            <td>juan123@gmail.com</td>
            <td>8712338047</td>
            <td>Residencial del Nazas</td>
            <td>
              <a class="btn btn-primary" aria-disabled="true">Editar</a>
              <a class="btn btn-danger">Borrar</a>
            </td>
          </tr>
        </tbody>
      </table>
</div><br><br><br><br><br><br><br><br><br>
<app-footer></app-footer>
