<app-menuad></app-menuad>
<div class="container">
    <h1 class="text-center">ALTA PROVEEDOR</h1>
    <hr>
    <form action="" class="text-primary">
        <label class="control-label" for="em">Nombre De La Empresa:</label>
        <input type="text" name="em" placeholder="Empresa..." class="form-control" required>
        <label class="control-label" for="name">Nombre Del Contacto</label>
        <input type="email" name="name" placeholder="Contacto..." class="form-control" required>
        <label class="control-label" for="mail">Correo:</label>
        <input type="email" name="mail" placeholder="Correo" class="form-control" required>
        <label class="control-label" for="tel">Telefono:</label>
        <input type="text" name="tel" placeholder="Telefono..." class="form-control" required>
        <label class="control-label" for="dire">Direccion:</label>
        <input type="email" name="dire" placeholder="Direccion..." class="form-control" required>
        <br>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div><br><br>
<app-footer></app-footer>
