<app-menuad></app-menuad>
<div class="container">
    <h1 class="text-center">CATEGORIAS</h1><hr><br>
    <table class="table text-center">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Tenis</td>
            <td>
              <a class="btn btn-primary" aria-disabled="true">Editar</a>
              <a class="btn btn-danger">Borrar</a>
            </td>
          </tr>
        </tbody>
      </table>
</div><br><br><br><br><br><br><br><br>
<app-footer></app-footer>
