<app-menuad></app-menuad>
<div class="container" style="margin-top: 80px;">
    <h1 class="text-center">ALTA CATEGORIA</h1>
    <hr class="textcol">
    <form action="" class="text-primary">
        <label class="control-label" for="nom">NOMBRE:</label>
        <input type="text" name="nom" placeholder="Escribe Nombre..." class="form-control" required><br>
        <div class="d-grid gap=2">
            <button class="btn btn-primary btn-lg" type="submit">Guardar</button>
        </div>
    </form>
</div><br><br><br><br><br><br>
<app-footer></app-footer>
